<%@ Master Language="VB" AutoEventWireup="false" CodeBehind="layout.Master.vb" Inherits="CMPDSB_DEVIN.layout" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="~/Styles/Site.css" rel="stylesheet" type="text/css" />
   <%-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>--%>
   <%-- ///// jquery calendar//////////--%>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  
      function SetDatePicker() {

          $(".datepicker").datepicker();
      }

      $(function () {
          SetDatePicker();
          Sys.WebForms.PageRequestManager.getInstance().add_endRequest(SetDatePicker);
  } );
  </script>
   <%-- ///////////--%>



    <script type="text/javascript">
        // Grab your value from the Session
        function ShowPopUp(message) {
            debugger
            var modal = document.getElementById('myModal');
            var span = document.getElementsByClassName("close")[0];
            modal.style.display = "block";

            var a = document.getElementById('<%=lblMessage.ClientID%>').innerHTML = message;
             //alert(a);
             //= message;
             //span.onclick = function () {	
             //  modal.innerText = "Successfully Saved !!"
             //}	

             var element = document.getElementById('myModal');
             fade(element);

            //window.onclick = function (event) {
            // if (event.target == modal) {
            //	 modal.style.display = "none";
            // }
            //}
        }

        function fade(element) {
            debugger;
            var op = 1;  // initial opacity
            var timer = setInterval(function () {
                if (op <= 0.1) {
                    clearInterval(timer);
                    element.style.display = 'none';
                }
                element.style.opacity = op;
                element.style.filter = 'alpha(opacity=' + op * 100 + ")";
                op -= op * 0.1;
            }, 70);
        }
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>

    <div>
        <form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server"></asp:ScriptManager>
            <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <%--<span class="close">&times;</span>--%>
	  <asp:Label ID="lblMessage" runat="server" Text=""/>
	 <%-- <%=hdn_message.ClientID  %>--%>
      <%-- <p>Some text in the Modal..</p>--%>
  </div>

</div>
            <div class="header" style="height:144px">
                <div class="title">
                    <h1>
                        <img src="content/images/logo.png" style="margin-left:-20px" alt="Logo" />
                    </h1>
                </div>
                <div class="loginDisplay">
                    <asp:Label ID="name" runat="server" Text="User "></asp:Label>
                    <asp:Label ID="lblUser" runat="server" Text="User Id" Visible="true"></asp:Label>
                    <br />
                    <asp:Label ID="Label1" runat="server" Text="Role "></asp:Label>
                    <asp:Label ID="lblRole" runat="server" Text="User Id" Visible="true"></asp:Label>
                </div>

                <div class="clear hideSkiplink">
                    <asp:SqlDataSource ID="SqlDataSource1" runat="server"></asp:SqlDataSource>
                    <asp:SiteMapDataSource ID="SiteMapDataSource1" runat="server" StartingNodeOffset="0"
                        ShowStartingNode="false" />
                    <asp:Menu ID="Menu" runat="server" RenderingMode="table" DataSourceID="SiteMapDataSource1" Orientation="Horizontal">
                        <LevelMenuItemStyles>
                            <asp:MenuItemStyle CssClass="main_menu" />
                            <asp:MenuItemStyle CssClass="level_menu" ForeColor="#fff" />
                            <asp:MenuItemStyle CssClass="level_menu_2" />
                        </LevelMenuItemStyles>
                    </asp:Menu>
                    <hr />
                    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                    </asp:ContentPlaceHolder>
                </div>

                <%-- <div class="main">
                    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                </div>--%>
                <%--    <div class="clear">
                </div>
            </div>
            <div class="footer">
            </div>--%>
            </div>
        </form>
    </div>
</body>
</html>
